PORT=5001
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/digital_banking_db
JWT_SECRET=super_secret_jwt_key_academic_cia3_banking_app_2026
JWT_EXPIRES_IN=1d

# Banking Business Logic Config
SUSPICIOUS_THRESHOLD=50000
SAVINGS_ANNUAL_INTEREST_RATE=0.04
DEFAULT_SAVINGS_MIN_BALANCE=1000
DEFAULT_CURRENT_MIN_BALANCE=5000
DEFAULT_SAVINGS_DAILY_LIMIT=50000
DEFAULT_CURRENT_DAILY_LIMIT=200000
